.meal-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 20px;
}

.random{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.order-container{
    border-radius: 20px;
    box-shadow: 10px 10px 20px 10px #aaaaaa;
}

.order-info{
    text-align: center;
}



@media screen and (max-width: 1100px) {
   .random{
        grid-template-columns: repeat(2, 1fr);
    }  
}


@media screen and (max-width: 800px) {
    .meal-container{
        grid-template-columns: 1fr;
    }
   .random{
        grid-template-columns: 1fr;
    }
    
}

