.nav-bar{
    height: 100px;
    background-color:#707B7C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.title{
    display: flex;
    align-items: center;
}
.title h1{
    padding-right: 10px;
    color: black;
}

.nav-links a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding-left: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links a:hover{
    color: orange;
}


.search-input{
    border: none;
    border-radius: 5px 0 0 5px;
    /* height: 20px; */
    padding: 10px;
}

.search-button{
    border: none;
    border-radius:0 5px 5px 0;
    padding: 10px;
}